section {
  display: flex;
  justify-content: center;
}

button {
  background-color: red;
  padding: 15px;
  text-align: center;
  font-weight: bold;
  width: 50%;
  border-radius: 20px;
  color: #fff;
  border: none;
  outline: none;
  margin-top: 50px;
  cursor: pointer;
}
