<section class="todo">
  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked">
      <input (keyup)="verificaTask(item.task, i)" type="text" [(ngModel)]="item.task" >
      <button (click)="deleteTask(i)">
        <img src="../../../../../assets/icons/icon-trash.svg" />
      </button>
    </li>
  </ul>
</section>

<app-todo-list-add-button (emitItemTaskList)="setEmitTaskList($event)" class="add-button"></app-todo-list-add-button>
<app-todo-list-delete-all (click)="deleteAll()"></app-todo-list-delete-all>
