* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5facff;
  background-image: linear-gradient(62deg, #5facff 0%, #0aabee 100%);
  font-family: 'Roboto', sans-serif;
}
